<%- include('./includes/head.ejs') %>
</head>

<body>

    <%- include('./includes/navigation.ejs') %>
    
    <main class="centered">
    <h2>Error occurred</h2>
    <p>We are working on it...</p>
</main>

<%- include('./includes/end.ejs') %>